In [8]:
import pandas as pd
import numpy as np
import warnings; warnings.filterwarnings('ignore')
import json

f = open('List_csv1.txt', 'r', encoding='UTF8')
lines = f.read()
print(lines[1:30])
f.close()

[  0 522 369 125 176 207 242

In [11]:
data = np.load('test.npy')
print(data)
data[1]

[[  0 522 369 ... 389 390 668]
 [  1 334 153 ... 598 597 479]
 [  2  74 385 ... 815 812 674]
 ...
 [825 956 760 ... 419 420   0]
 [289 785 957 ... 676 671   0]
 [958 193 319 ... 518 517 414]]

array([  1, 334, 153, 295, 889, 244, 649, 580, 828, 119,  72, 188, 839,
       818,  63,   5, 930, 321, 900,  28, 644, 222, 568, 827, 292, 351,
       327, 857,  33, 325, 352, 816, 239, 238, 323, 225, 880, 120, 678,
       157,   7, 107, 719, 426, 218, 179, 111, 662, 685, 201,  82, 156,
       385, 366, 395, 800,  13, 810, 316, 741,  61, 154,  97, 297,  71,
       173, 138, 205, 132, 290, 626, 737, 122, 276, 215, 599, 211, 264,
       811, 684, 460,  34, 371,  40, 368, 473, 431,  35,   3,   8, 925,
       204, 441, 376, 661, 794, 655,  90, 651, 623,  20, 458, 234, 916,
       466, 648, 389, 256,  16, 415, 155, 733, 151, 730, 172, 144, 141,
       716, 174, 706, 943, 126, 771, 700, 184, 123, 185, 390, 824, 524,
       330, 512, 341, 278, 286, 570,  43, 294,  47, 270, 557, 887,  62,
       518,  60, 875, 275, 287, 346, 259, 876,   2,  91, 731, 452, 177,
       591, 425, 710,  69, 546, 550, 866, 181,  89, 536,  66, 759, 399,
       891, 401,  65, 146, 147, 516, 314, 251, 829, 941,  36,  80, 114,
        56, 237, 470, 920, 497,  76,  75, 112, 380, 905, 435, 209,  79,
       432, 115, 335, 422, 477, 176, 624, 464, 226, 345, 159, 511, 245,
       732, 326, 242, 171, 439, 308, 350, 282, 283, 447, 558, 299, 408,
        31,  48,  96, 813, 817,  30,  87,  78, 770,  12, 134, 860, 845,
       750, 555, 288,  74,  45, 101, 304,  25, 152, 296, 329,   9, 783,
       272, 718, 343, 485, 183, 501, 378, 768, 161, 795, 804, 602, 605,
       492, 484, 608, 907, 911, 262, 544, 480, 310, 873, 235, 807,  58,
       913, 241,  93,  64, 261, 820, 320, 255, 498,  32, 957, 260, 826,
       585, 336, 858, 566, 507, 894,  54,  46, 856, 541, 273, 298, 513,
        68, 548, 547, 886, 307, 850, 289, 504, 848, 739, 574, 285, 576,
       846, 578, 359, 842, 582, 583, 502, 840, 635, 847, 931, 196, 775,
       386, 121,  21, 437, 690, 689, 438,  18,  24, 779, 683, 198, 200,
       781, 676, 937, 704, 785, 955, 406, 150, 403, 160, 728, 725, 724,
       163, 136, 402, 753, 758, 400, 714, 137,  10, 117, 529, 103, 220,
       793, 364, 462, 217, 802, 365, 919, 459, 805, 449,  27, 227, 360,
       446, 654, 652, 223, 892, 355, 890, 419, 475, 420,  39, 354,  50,
       917, 414, 324, 358, 522, 404, 469, 319,  59, 315, 361, 508, 946,
       945, 899, 928, 493, 377, 443, 897, 491, 902, 347, 915, 450, 372,
       926, 906, 923, 454,  22, 922, 388,  29,  15, 333, 331, 391, 496,
       468, 738, 313, 257, 214, 113, 665, 664, 790, 659, 657, 105, 650,
        99, 646, 803, 643, 639, 230, 637, 233, 806, 236, 821,  88, 213,
       669, 673, 708, 740, 746, 149, 162, 723, 715, 763, 711, 709, 703,
       203, 124, 696, 187, 190, 191, 193, 686, 409, 780, 252, 232, 849,
       271, 588, 838,  77, 279,  84, 564, 563, 852, 293,  73, 855, 300,
       864, 545, 303, 305, 306, 537, 865, 533, 311, 837, 958, 594, 267,
       595, 606, 266, 601, 607, 600, 835, 268,  83, 263, 612, 148, 143,
       139, 394,  53, 356,  94,  51,  11, 396, 265, 127, 301, 312, 180,
       338, 221, 269, 375, 116, 210, 207, 291, 224, 197,  38,  70, 348,
        19, 125, 353,   0, 677, 523, 734, 745, 747, 476, 885, 486, 879,
       628, 877, 874, 625, 509, 843, 726, 617, 616, 767, 614, 613, 609,
       774, 543, 777, 814, 590, 792, 727, 488, 579, 950, 430, 679, 440,
       935, 424, 720, 182, 421, 416, 551, 618, 118, 199, 862,  67, 140,
       110, 337, 281, 762, 903, 660, 912, 369, 721, 309, 940, 374, 934,
       164, 702, 772, 773, 769, 701, 722, 705, 776, 170, 778, 699, 788,
       167, 109, 166, 186, 791, 789, 787, 729, 786, 697, 784, 698, 782,
       165, 128, 178, 129, 754, 175, 142, 756, 755, 145, 108, 713, 744,
       752, 751, 717, 749, 748, 743, 757, 742, 736, 735, 712, 760, 761,
       168, 707, 764, 158, 135, 765, 133, 766, 131, 130, 169,  92, 796,
       898, 921, 918, 914, 910, 909, 908, 904,  37, 901,  41, 927,  42,
       896,  44, 895, 893, 888,  49, 884, 883, 924,  26, 106, 947, 956,
       954, 953,   4, 952,   6, 951, 949, 948, 944, 929, 942,  14, 939,
        17, 938, 936, 933,  23, 932,  52, 882, 881,  95,  85,  86, 825,
       823, 822, 819, 815, 694, 812, 809,  55, 808,  98, 801, 100, 799,
       102, 798, 104, 797, 830, 831, 832,  81,  57, 878, 872, 871, 870,
       869, 868, 867, 863, 861, 859, 854, 853, 851, 844, 841, 836, 834,
       833, 695, 410, 189, 339, 328, 510, 506, 332, 505, 503, 500, 499,
       495, 340, 515, 494, 342, 490, 344, 489, 487, 349, 483, 482, 514,
       517, 553, 531, 549, 302, 542, 540, 539, 538, 535, 534, 532, 530,
       519, 528, 527, 526, 317, 318, 525, 521, 322, 520, 481, 478, 474,
       393, 383, 384, 436, 434, 387, 433, 429, 428, 392, 427, 472, 423,
       397, 398, 418, 417, 413, 412, 405, 411, 382, 381, 379, 442, 357,
       471, 467, 465, 463, 362, 363, 461, 457, 456, 367, 455, 370, 453,
       451, 373, 448, 445, 444, 552, 554, 693, 640, 663, 219, 658, 656,
       653, 647, 645, 642, 641, 228, 666, 229, 638, 231, 636, 634, 633,
       632, 631, 630, 216, 667, 556, 680, 692, 192, 691, 194, 195, 688,
       687, 682, 681, 202, 668, 407, 675, 206, 674, 208, 672, 671, 670,
       212, 629, 240, 627, 575, 274, 587, 586, 277, 584, 581, 280, 577,
       284, 573, 243, 572, 571, 569, 567, 565, 562, 561, 560, 559, 589,
       592, 593, 596, 622, 621, 246, 247, 248, 249, 250, 620, 619, 253,
       254, 258, 615, 611, 610, 604, 603, 598, 597, 479], dtype=int64)

In [13]:
import pandas as pd
import numpy as np
import warnings; warnings.filterwarnings('ignore')
import json

movies_df = pd.read_csv("result.csv")
genre_sim_sorted_ind = np.load('result.npy')
def find_sim_movie(df, sorted_ind, title_name, top_n=10):
    title_movie = df[df['pk'] == title_name]
    title_index = title_movie.index.values

    similar_indexes = sorted_ind[title_index, : (top_n * 2)]
    similar_indexes = similar_indexes.reshape(-1)

    similar_indexes = similar_indexes[similar_indexes != title_index]

    return df.iloc[similar_indexes].sort_values('weighted_vote', ascending=False)[:top_n]

similar_movies = find_sim_movie(movies_df, genre_sim_sorted_ind, 526896, 5)
similar_movies[['pk']]

         pk
522     603
369  831405
125  399566
176  588228
207  848278